<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<%= link_to t('destroy_comment'), [comment.article, comment],
            method: :delete,
            data: { confirm: t('sure?') } %>