<html>
  <head>

    <title>Landing</title>

  </head>
  <body class="background">

  <div class="header"></div>

  <div class="main">
      <div class="block-phone">
        <div class="phone">
          <img src="assets/phone.png">
        </div>
      </div>

      <div class="block-barra">
        <div class="barra">
          <img src="assets/barra.png">
        </div>
      </div>

      <div class="block-logo">
        <div class="logo">
          <img src="assets/tcg_logo.png">
        </div>
      </div>
    </div>



  <div class="border"></div>
  <div class="greymain">
    <div class="itemcontainer"> </div>

    <div class="itemcontainer">
      <img src="assets/ic_list.png">
      <h2> Keep track of your money </h2>
      <p> See all your debts and all your <br> friends debts towards you. </p>
    </div>

    <div class="itemcontainer">
      <img src="assets/ic_reminder.png">
      <h2> Generate reminders </h2>
      <p> Get reminded of who owes <br> you money or who you owe <br> money to. </p>
    </div>

    <div class="itemcontainer">
      <img src="assets/ic_safe.png">
      <h2> No internet needed </h2>
      <p> All your debts are kept <br> safe in your phone. </p>
    </div>
    <div class="itemcontainer"> </div>

  </div>

  <div class="footer">

    <br>
    <h2> Get info on new updates</h2>
    <input type="text" class="textbox">
    <br>
    <br>
    <button type="button" class="button"> Subscribe </button>
    <br>
    <br>

  </div>

  </body>


</html>